<!DOCTYPE html>
<html lang="fr">
{% include 'header.html' %}

<body>
    <!-- drop down player select -->
    <div class="table-wrap">
        <div style="display: flex; justify-content: space-between;">
            <p style="flex-basis: 49.5%;">Selectionnez un jouer à ajouter à la visibilité</p>
            <p id="PlayerName" style="flex-basis: 49.5%;"></p>
        </div>
        <div class="menu">
            <input class="playerSel" placeholder="Enter player name here" name="name" list="playerSelected" />
            <datalist id="playerSelected">
                {% for index, row in league_data.iterrows() %}
                <option value="{{ row['Name'] }}">
                    {{ row['Name'] }}
                </option>
                {% endfor %}
            </datalist>
        </div>
    </div>

    <p>OU</p>

    <!-- drop down player select -->
    <div class="table-wrap">
        <p>Initialisez la table a l'aide des lignes d'une</p>
        <div class="menu">
            <input class="teamSel" placeholder="Enter team name here" name="name" list="teamSelected" />
            <datalist id="teamSelected">
                {% for index, row in team_data.iterrows() %}
                <option value="{{ row['Name'] }}">
                    {{ row['Name'] }}
                </option>
                {% endfor %}
            </datalist>
        </div>
    </div>
    <!-- stats gen off/def, repopulate tds when playerSelcted change -->
    <div class="table-wrap" style="overflow-x: scroll;">
        <p>Statistiques (parties jouées min en comparaison : {{label_min_played_game}})</p>
        <table border="1" class="sortable">
            <thead>
                <tr>
                    {% for index in average_Fwd.index %}
                    <th>
                        {{ index }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for row in average_Fwd %}
                    <td id="{{loop.index - 1}}">{{ row }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for row in average_Fwd %}
                    <td id="{{loop.index - 1}}_diff"></td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <!-- dont display general stat of both defense and offensive player -->
    <div class="table-wrap" style="display: none;">

        <head>Attaquants</head>
        <table border="1" class="sortable">
            <thead>
                <tr>
                    {% for index in average_Fwd.index %}
                    <th>
                        {{ index }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in average_Fwd %}
                <td id="{{loop.index - 1}}_off">{{ row }}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- dont display general stat of both defense and offensive player -->

    <div class="table-wrap" style="display: none;">

        <head>Defenseurs</head>
        <table border="1" class="sortable">
            <thead>
                <tr>
                    {% for index in average_Def.index %}
                    <th>
                        {{ index }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in average_Def %}
                <td id="{{loop.index - 1}}_def">{{ row }}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- stats gen team -->
    <div class="table-wrap" style="overflow-x: scroll;">
        <p id="TeamName">Equipe</p>
        <table border="1" class="sortable">
            <thead>
                <tr>
                    {% for index in average_Fwd.index %}
                    <th>
                        {{ index }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for row in average_Fwd %}
                    <td id="{{loop.index - 1}}_team">{{ row }}</td>
                    {% endfor %}
                </tr>
                <!-- <tr>
                        {% for row in average_Fwd %}
                        <td id="{{loop.index - 1}}_diff"></td>
                        {% endfor %}
                    </tr> -->
            </tbody>
        </table>
    </div>
    <!-- player graph stats -->
    <div class='container' style="overflow-x: scroll;">
        <!-- chart div -->
        <div class='child'>
            <canvas id="radarChart"></canvas>
        </div>
        <!-- PlayerSel Div -->
        <div id="playerSel" class="child">
            <p>*double click pour supprimer le joueur*</p>
        </div>
        <!-- Lines Div -->
        <div class='child'>
            <p>*double click pour voir les statistiques du joueur*</p>
            <table>
                <th>
                    <tr>
                        <table id="table_line">
                            <th colspan="3">Attaquants</th>
                            <tr>
                                <td colspan="3">Ligne 1</td>
                            </tr>
                            <tr>
                                <th scope="col">LW</th>
                                <th scope="col">C</th>
                                <th scope="col">RW</th>
                            </tr>
                            <tr>
                                <td>
                                    <div id="LW_Line_1" draggable="true" class="box"></div>
                                </td>
                                <td>
                                    <div id="C_Line_1" draggable="true" class="box"></div>
                                </td>
                                <td>
                                    <div id="RW_Line_1" draggable="true" class="box"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">Ligne 2</td>
                            </tr>
                            <tr>
                                <th scope="col">LW</th>
                                <th scope="col">C</th>
                                <th scope="col">RW</th>
                            </tr>
                            <tr>
                                <td>
                                    <div id="LW_Line_2" draggable="true" class="box"></div>
                                </td>
                                <td>
                                    <div id="C_Line_2" draggable="true" class="box"></div>
                                </td>
                                <td>
                                    <div id="RW_Line_2" draggable="true" class="box"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">Ligne 3</td>
                            </tr>
                            <tr>
                                <th scope="col">LW</th>
                                <th scope="col">C</th>
                                <th scope="col">RW</th>
                            </tr>
                            <tr>
                                <td>
                                    <div id="LW_Line_3" draggable="true" class="box"></div>
                                </td>
                                <td>
                                    <div id="C_Line_3" draggable="true" class="box"></div>
                                </td>
                                <td>
                                    <div id="RW_Line_3" draggable="true" class="box"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">Ligne 4</td>
                            </tr>
                            <tr>
                                <th scope="col">LW</th>
                                <th scope="col">C</th>
                                <th scope="col">RW </th>
                            </tr>
                            <tr>
                                <td>
                                    <div id="LW_Line_4" draggable="true" class="box"></div>
                                </td>
                                <td>
                                    <div id="C_Line_4" draggable="true" class="box"></div>
                                </td>
                                <td>
                                    <div id="RW_Line_4" draggable="true" class="box"></div>
                                </td>
                            </tr>
                        </table>
                        <table id="table_line">
                            <th colspan="3">Defenseurs</th>
                            <tr>
                                <td colspan="2">Paire 1</td>
                            </tr>
                            <tr>
                                <th scope="col">DG</th>
                                <th scope="col">DD</th>
                            </tr>
                            <tr>
                                <td>
                                    <div id="DG_Line_1" draggable="true" class="box"></div>
                                </td>
                                <td>
                                    <div id="DD_Line_1" draggable="true" class="box"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Paire 2</td>
                            </tr>
                            <tr>
                                <th scope="col">DG</th>
                                <th scope="col">DD</th>
                            </tr>
                            <tr>
                                <td>
                                    <div id="DG_Line_2" draggable="true" class="box"></div>
                                </td>
                                <td>
                                    <div id="DD_Line_2" draggable="true" class="box"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Paire 3</td>
                            </tr>
                            <tr>
                                <th scope="col">DG</th>
                                <th scope="col">DD</th>
                            </tr>
                            <tr>
                                <td>
                                    <div id="DG_Line_3" draggable="true" class="box"></div>
                                </td>
                                <td>
                                    <div id="DD_Line_3" draggable="true" class="box"></div>
                                </td>
                            </tr>
                        </table>

                        <table id="table_line">
                            <th>Gardiens</th>
                            <tr>
                                <th scope="col">
                                    #1
                                </th>
                                <th scope="col">
                                    #2
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <div draggable="true" class="box"></div>
                                </td>
                                <td>
                                    <div draggable="true" class="box"></div>
                                </td>
                            </tr>
                        </table>
                    </tr>
                </th>

            </table>
        </div>
        <!-- Stats by line Div -->
        <div class='child'>
            <table>
                <th>
                    <tr>
                        <table id="table_line">
                            <th colspan="15">Moyenne Attaquants</th>
                            <tr>
                                <td colspan="15">Ligne 1</td>
                            </tr>
                            <tr>
                                <th scope="col">FO</th>
                                <th scope="col">FG</th>
                                <th scope="col">CK</th>
                                <th scope="col">ST</th>
                                <th scope="col">EN</th>
                                <th scope="col">DU</th>
                                <th scope="col">SK</th>
                                <th scope="col">PH</th>
                                <th scope="col">PA</th>
                                <th scope="col">SC</th>
                                <th scope="col">DF</th>
                                <th scope="col">EX</th>
                                <th scope="col">LD</th>
                                <th scope="col">DI</th>
                                <th scope="col">$</th>
                            </tr>
                            <tr>
                                <td>
                                    <div id="FO_Line_1"></div>
                                </td>
                                <td>
                                    <div id="FG_Line_1"></div>
                                </td>
                                <td>
                                    <div id="CK_Line_1"></div>
                                </td>
                                <td>
                                    <div id="ST_Line_1"></div>
                                </td>
                                <td>
                                    <div id="EN_Line_1"></div>
                                </td>
                                <td>
                                    <div id="DU_Line_1"></div>
                                </td>
                                <td>
                                    <div id="SK_Line_1"></div>
                                </td>
                                <td>
                                    <div id="PH_Line_1"></div>
                                </td>
                                <td>
                                    <div id="PA_Line_1"></div>
                                </td>
                                <td>
                                    <div id="SC_Line_1"></div>
                                </td>
                                <td>
                                    <div id="DF_Line_1"></div>
                                </td>
                                <td>
                                    <div id="EX_Line_1"></div>
                                </td>
                                <td>
                                    <div id="LD_Line_1"></div>
                                </td>
                                <td>
                                    <div id="DI_Line_1"></div>
                                </td>
                                <td>
                                    <div id="Salary_Line_1"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="15">Ligne 2</td>
                            </tr>
                            <tr>
                                <th scope="col">FO</th>
                                <th scope="col">FG</th>
                                <th scope="col">CK</th>
                                <th scope="col">ST</th>
                                <th scope="col">EN</th>
                                <th scope="col">DU</th>
                                <th scope="col">SK</th>
                                <th scope="col">PH</th>
                                <th scope="col">PA</th>
                                <th scope="col">SC</th>
                                <th scope="col">DF</th>
                                <th scope="col">EX</th>
                                <th scope="col">LD</th>
                                <th scope="col">DI</th>
                                <th scope="col">$</th>
                            </tr>
                            <tr>
                                <td>
                                    <div id="FO_Line_2"></div>
                                </td>
                                <td>
                                    <div id="FG_Line_2"></div>
                                </td>
                                <td>
                                    <div id="CK_Line_2"></div>
                                </td>
                                <td>
                                    <div id="ST_Line_2"></div>
                                </td>
                                <td>
                                    <div id="EN_Line_2"></div>
                                </td>
                                <td>
                                    <div id="DU_Line_2"></div>
                                </td>
                                <td>
                                    <div id="SK_Line_2"></div>
                                </td>
                                <td>
                                    <div id="PH_Line_2"></div>
                                </td>
                                <td>
                                    <div id="PA_Line_2"></div>
                                </td>
                                <td>
                                    <div id="SC_Line_2"></div>
                                </td>
                                <td>
                                    <div id="DF_Line_2"></div>
                                </td>
                                <td>
                                    <div id="EX_Line_2"></div>
                                </td>
                                <td>
                                    <div id="LD_Line_2"></div>
                                </td>
                                <td>
                                    <div id="DI_Line_2"></div>
                                </td>
                                <td>
                                    <div id="Salary_Line_2"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="15">Ligne 3</td>
                            </tr>
                            <tr>
                                <th scope="col">FO</th>
                                <th scope="col">FG</th>
                                <th scope="col">CK</th>
                                <th scope="col">ST</th>
                                <th scope="col">EN</th>
                                <th scope="col">DU</th>
                                <th scope="col">SK</th>
                                <th scope="col">PH</th>
                                <th scope="col">PA</th>
                                <th scope="col">SC</th>
                                <th scope="col">DF</th>
                                <th scope="col">EX</th>
                                <th scope="col">LD</th>
                                <th scope="col">DI</th>
                                <th scope="col">$</th>
                            </tr>
                            <tr>
                                <td>
                                    <div id="FO_Line_3"></div>
                                </td>
                                <td>
                                    <div id="FG_Line_3"></div>
                                </td>
                                <td>
                                    <div id="CK_Line_3"></div>
                                </td>
                                <td>
                                    <div id="ST_Line_3"></div>
                                </td>
                                <td>
                                    <div id="EN_Line_3"></div>
                                </td>
                                <td>
                                    <div id="DU_Line_3"></div>
                                </td>
                                <td>
                                    <div id="SK_Line_3"></div>
                                </td>
                                <td>
                                    <div id="PH_Line_3"></div>
                                </td>
                                <td>
                                    <div id="PA_Line_3"></div>
                                </td>
                                <td>
                                    <div id="SC_Line_3"></div>
                                </td>
                                <td>
                                    <div id="DF_Line_3"></div>
                                </td>
                                <td>
                                    <div id="EX_Line_3"></div>
                                </td>
                                <td>
                                    <div id="LD_Line_3"></div>
                                </td>
                                <td>
                                    <div id="DI_Line_3"></div>
                                </td>
                                <td>
                                    <div id="Salary_Line_3"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="15">Ligne 4</td>
                            </tr>
                            <tr>
                                <th scope="col">FO</th>
                                <th scope="col">FG</th>
                                <th scope="col">CK</th>
                                <th scope="col">ST</th>
                                <th scope="col">EN</th>
                                <th scope="col">DU</th>
                                <th scope="col">SK</th>
                                <th scope="col">PH</th>
                                <th scope="col">PA</th>
                                <th scope="col">SC</th>
                                <th scope="col">DF</th>
                                <th scope="col">EX</th>
                                <th scope="col">LD</th>
                                <th scope="col">DI</th>
                                <th scope="col">$</th>
                            </tr>
                            <tr>
                                <td>
                                    <div id="FO_Line_4"></div>
                                </td>
                                <td>
                                    <div id="FG_Line_4"></div>
                                </td>
                                <td>
                                    <div id="CK_Line_4"></div>
                                </td>
                                <td>
                                    <div id="ST_Line_4"></div>
                                </td>
                                <td>
                                    <div id="EN_Line_4"></div>
                                </td>
                                <td>
                                    <div id="DU_Line_4"></div>
                                </td>
                                <td>
                                    <div id="SK_Line_4"></div>
                                </td>
                                <td>
                                    <div id="PH_Line_4"></div>
                                </td>
                                <td>
                                    <div id="PA_Line_4"></div>
                                </td>
                                <td>
                                    <div id="SC_Line_4"></div>
                                </td>
                                <td>
                                    <div id="DF_Line_4"></div>
                                </td>
                                <td>
                                    <div id="EX_Line_4"></div>
                                </td>
                                <td>
                                    <div id="LD_Line_4"></div>
                                </td>
                                <td>
                                    <div id="DI_Line_4"></div>
                                </td>
                                <td>
                                    <div id="Salary_Line_4"></div>
                                </td>
                            </tr>
                        </table>
                        <table id="table_line">
                            <th colspan="15">Moyenne Defenseurs</th>
                            <tr>
                                <td colspan="15">Paire 1</td>
                            </tr>
                            <tr>
                                <th scope="col">FO</th>
                                <th scope="col">FG</th>
                                <th scope="col">CK</th>
                                <th scope="col">ST</th>
                                <th scope="col">EN</th>
                                <th scope="col">DU</th>
                                <th scope="col">SK</th>
                                <th scope="col">PH</th>
                                <th scope="col">PA</th>
                                <th scope="col">SC</th>
                                <th scope="col">DF</th>
                                <th scope="col">EX</th>
                                <th scope="col">LD</th>
                                <th scope="col">DI</th>
                                <th scope="col">$</th>
                            </tr>
                            <tr>
                                <td>
                                    <div id="FO_Paire_1"></div>
                                </td>
                                <td>
                                    <div id="FG_Paire_1"></div>
                                </td>
                                <td>
                                    <div id="CK_Paire_1"></div>
                                </td>
                                <td>
                                    <div id="ST_Paire_1"></div>
                                </td>
                                <td>
                                    <div id="EN_Paire_1"></div>
                                </td>
                                <td>
                                    <div id="DU_Paire_1"></div>
                                </td>
                                <td>
                                    <div id="SK_Paire_1"></div>
                                </td>
                                <td>
                                    <div id="PH_Paire_1"></div>
                                </td>
                                <td>
                                    <div id="PA_Paire_1"></div>
                                </td>
                                <td>
                                    <div id="SC_Paire_1"></div>
                                </td>
                                <td>
                                    <div id="DF_Paire_1"></div>
                                </td>
                                <td>
                                    <div id="EX_Paire_1"></div>
                                </td>
                                <td>
                                    <div id="LD_Paire_1"></div>
                                </td>
                                <td>
                                    <div id="DI_Paire_1"></div>
                                </td>
                                <td>
                                    <div id="Salary_Paire_1"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="15">Paire 2</td>
                            </tr>
                            <tr>
                                <th scope="col">FO</th>
                                <th scope="col">FG</th>
                                <th scope="col">CK</th>
                                <th scope="col">ST</th>
                                <th scope="col">EN</th>
                                <th scope="col">DU</th>
                                <th scope="col">SK</th>
                                <th scope="col">PH</th>
                                <th scope="col">PA</th>
                                <th scope="col">SC</th>
                                <th scope="col">DF</th>
                                <th scope="col">EX</th>
                                <th scope="col">LD</th>
                                <th scope="col">DI</th>
                                <th scope="col">$</th>
                            </tr>
                            <tr>
                                <td>
                                    <div id="FO_Paire_2"></div>
                                </td>
                                <td>
                                    <div id="FG_Paire_2"></div>
                                </td>
                                <td>
                                    <div id="CK_Paire_2"></div>
                                </td>
                                <td>
                                    <div id="ST_Paire_2"></div>
                                </td>
                                <td>
                                    <div id="EN_Paire_2"></div>
                                </td>
                                <td>
                                    <div id="DU_Paire_2"></div>
                                </td>
                                <td>
                                    <div id="SK_Paire_2"></div>
                                </td>
                                <td>
                                    <div id="PH_Paire_2"></div>
                                </td>
                                <td>
                                    <div id="PA_Paire_2"></div>
                                </td>
                                <td>
                                    <div id="SC_Paire_2"></div>
                                </td>
                                <td>
                                    <div id="DF_Paire_2"></div>
                                </td>
                                <td>
                                    <div id="EX_Paire_2"></div>
                                </td>
                                <td>
                                    <div id="LD_Paire_2"></div>
                                </td>
                                <td>
                                    <div id="DI_Paire_2"></div>
                                </td>
                                <td>
                                    <div id="Salary_Paire_2"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="15">Paire 3</td>
                            </tr>
                            <tr>
                                <th scope="col">FO</th>
                                <th scope="col">FG</th>
                                <th scope="col">CK</th>
                                <th scope="col">ST</th>
                                <th scope="col">EN</th>
                                <th scope="col">DU</th>
                                <th scope="col">SK</th>
                                <th scope="col">PH</th>
                                <th scope="col">PA</th>
                                <th scope="col">SC</th>
                                <th scope="col">DF</th>
                                <th scope="col">EX</th>
                                <th scope="col">LD</th>
                                <th scope="col">DI</th>
                                <th scope="col">$</th>
                            </tr>
                            <tr>
                                <td>
                                    <div id="FO_Paire_3"></div>
                                </td>
                                <td>
                                    <div id="FG_Paire_3"></div>
                                </td>
                                <td>
                                    <div id="CK_Paire_3"></div>
                                </td>
                                <td>
                                    <div id="ST_Paire_3"></div>
                                </td>
                                <td>
                                    <div id="EN_Paire_3"></div>
                                </td>
                                <td>
                                    <div id="DU_Paire_3"></div>
                                </td>
                                <td>
                                    <div id="SK_Paire_3"></div>
                                </td>
                                <td>
                                    <div id="PH_Paire_3"></div>
                                </td>
                                <td>
                                    <div id="PA_Paire_3"></div>
                                </td>
                                <td>
                                    <div id="SC_Paire_3"></div>
                                </td>
                                <td>
                                    <div id="DF_Paire_3"></div>
                                </td>
                                <td>
                                    <div id="EX_Paire_3"></div>
                                </td>
                                <td>
                                    <div id="LD_Paire_3"></div>
                                </td>
                                <td>
                                    <div id="DI_Paire_3"></div>
                                </td>
                                <td>
                                    <div id="Salary_Paire_3"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="15">Salaire total</td>
                            </tr>
                            <tr>
                                <th colspan="15" scope="col">$</th>
                            </tr>
                            <tr>
                                <td colspan="15">
                                    <div id="tot_player_salary"></div>
                                </td>
                            </tr>
                        </table>
                    </tr>
                </th>

            </table>
        </div>
    </div>
    <!-- general player stats -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='script_nav.js') }}"></script>
    <script>
        var avgdef = {{ avg_league_stat_def | safe }};
        var avgatt = {{ avg_league_stat_fwd | safe }};
        updateRadarChart(avgdef, avgatt);
        function synchRadarChart() {
            updateRadarChart(avgdef, avgatt);
        }
    </script>
</body>

</html>