<!DOCTYPE html>
<html>

<head>
    <title id="result"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div>
        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
    </div>
    <br>
    <div id="myPlot" style="width:100%;max-width:700px"></div>
    <br>
    <dir>
        <canvas id="programmingChart" style="width:100%;max-width:700px"></canvas>
    </dir>
    <br>
    <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description">
            {{dataTest}}
        </p>
    </figure>
    <br>

    <table>
        <tr>
            <td>
                <div class="table-wrap">

                    <head>All player name</head>
                    <div class="menu">
                        <select class="menu-item" id="playerSelected">
                            {% for index, row in league_data.iterrows() %}
                            <option value="{{ row['Name'] }}" onclick="getSelectedValue()">
                                {{ row['Name'] }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </td>
            <td>
                <div class="table-wrap">

                    <head>Attaquants</head>
                    <table border="1" class="sortable">
                        <thead>
                            <tr>
                                {% for column in average_Fwd.columns %}
                                <th>
                                    {{ column }}
                                </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, row in average_Fwd.iterrows() %}
                            <tr>
                                {% for value in row %}
                                <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <div class="table-wrap">

                    <head>Defenseur</head>
                    <table border="1" class="sortable">
                        <thead>
                            <tr>
                                {% for column in average_Def.columns %}
                                <th>
                                    {{ column }}
                                </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, row in average_Def.iterrows() %}
                            <tr>
                                {% for value in row %}
                                <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <div>
                    <canvas id="radarChart"></canvas>
                </div>
            </td>
        </tr>
    </table>

    <br>

    <br>
    <div class="table-wrap">
        <table border="1" class="sortable">
            <thead>
                <tr>
                    {% for column in league_data.columns %}
                    <th>
                        {{ column }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index, row in league_data.iterrows() %}
                <tr>
                    {% for value in row %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        var chart_playerStat = [];
        var chart_playerStatName = [];
        var chart_avgStat = [];
        var chart_avgStatLabel = "";


        // Define a JavaScript function inside a <script> tag
        function updateRadarChart() {


            $.get('/updateChart', function (response) {
                // Process the received JSON data
                if (response !== null && typeof response !== 'undefined') {
                    chart_playerStat = JSON.parse(response.values);
                    chart_playerStatName = response.name;
                    if (response.isDef == "True") {
                        chart_avgStat = {{ avg_league_stat_def | safe }};
                        chart_avgStatLabel = "Moyenne def";
                    } else {
                        chart_avgStat = {{ avg_league_stat_fwd | safe }};
                        chart_avgStatLabel = "Moyenne att";
                    }
                }
                playerChart.data.datasets[0].label = chart_playerStatName;
                playerChart.data.datasets[0].data = chart_playerStat;
                playerChart.data.datasets[1].label = chart_avgStatLabel;
                playerChart.data.datasets[1].data = chart_avgStat;
            });
            playerChart.update();
        }

        // Call the greet function every 5 seconds
        setInterval(function () {
            updateRadarChart();
        }, 1000); // 5000 milliseconds = 5 seconds

    </script>
</body>

</html>