<!DOCTYPE html>
<html>
<head>
    <title>MAIN</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
    <div id="myPlot" style="width:100%;max-width:700px"></div>
    <h2>DataFrame Data</h2>
    <p id="pythonVariable">{{ python_variable }}</p>
    <input type="text" id="newVariableValue">
    <button onclick="modifyVariable()">Modify Variable</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
