appdirs
argon2-cffi
asttokens
attrs
Babel
backcall
bcrypt
beautifulsoup4
beniget
bleach
blinker
Bottleneck
Brlapi
Brotli
bytecode
certifi
chardet
click
cloud-init
colorama
comm
command-not-found
configobj
contourpy
coverage
cryptography
cupshelpers
cycler
dbus-python
debugpy
decorator
defer
defusedxml
distro
distro-info
duplicity
entrypoints
et-xmlfile
evdev
executing
fasteners
fastjsonschema
fonttools
fs
future
gast
gyp
html5lib
httplib2
idna
importlib-metadata
iniconfig
ipykernel
ipython
ipython_genutils
ipywidgets
jaraco.classes
jdcal
jedi
jeepney
Jinja2
jsonpatch
jsonpointer
jsonschema
jupyter-console
jupyter_client
jupyter_core
jupyterlab-pygments
keyring
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
llvmlite
lockfile
louis
lxml
lz4
Mako
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
monotonic
more-itertools
mpmath
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
notebook
numba
numexpr
numpy
oauthlib
odfpy
olefile
openpyxl
packaging
pandas
pandocfilters
paramiko
parso
pexpect
pickleshare
Pillow
platformdirs
pluggy
ply
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
py
pycairo
pycups
pydevd
Pygments
PyGObject
PyJWT
PyNaCl
pyparsing
pyrsistent
pyserial
pytest
python-apt
python-dateutil
python-debian
python-magic
pythran
pytz
pyxdg
PyYAML
pyzmq
requests
rich
scipy
SecretStorage
Send2Trash
setproctitle
setuptools
six
soupsieve
stack-data
sympy
systemd-python
tables
terminado
tinycss2
tornado
traitlets
tzdata
ubuntu-drivers-common
ubuntu-pro-client
ufoLib2
ufw
unattended-upgrades
urllib3
usb-creator
wadllib
wcwidth
webencodings
wheel
widgetsnbextension
xdg
xkit
zipp
